{% extends "base.html" %}
{% block content %}
<div class="page-wrapper" style="margin-left: 15px;font-family: Arial, sans-serif; font-size: 16px;">
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">Update Portfolio</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Portfolio</a></li>
                                    <li class="breadcrumb-item active">Update</li>
                                </ol>
                            </div><!--end col-->
                        </div><!--end page-title-box-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Update Portfolio Form</h4>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form id="updatePortfolioForm" data-portfolio-id="{{ db_portfolio.id }}">
                                        <div class="form-group">
                                            <label class="form-label" for="ProjectName">Project Name :</label>
                                            <input type="text" class="form-control" value="{{ db_portfolio.project_name }}" id="ProjectName" name="project_name" placeholder="Enter Project name" required>
                                        </div><!--end form-group-->

                                        <div class="form-group">
                                            <label class="form-label" for="client_name">Client Name:</label>
                                            <input type="text" class="form-control" value="{{ db_portfolio.client_name }}" id="client_name" name="client_name" placeholder="Enter Client name" required>
                                        </div><!--end form-group-->

                                        <div class="form-group">
                                            <label class="form-label" for="date">Date:</label>
                                            <input type="date" class="form-control" value="{{ db_portfolio.date }}" id="date" name="date" required>
                                        </div><!--end form-group-->

                                        <div class="form-group">
                                            <label class="form-label" for="skills">Skills:</label>
                                            <input type="text" class="form-control" value="{{ db_portfolio.skills }}" id="skills" name="skills" placeholder="Enter skills used" required>
                                        </div><!--end form-group-->

                                        <div class="form-group">
                                            <label class="form-label" for="description_1">Description 1:</label>
                                            <textarea class="form-control"  id="description_1" name="description_1" rows="4" placeholder="Enter description (optional)">{{ db_portfolio.description_1 | e }}</textarea>
                                        </div><!--end form-group-->

                                        <div class="form-group">
                                            <label class="form-label" for="description_2">Description 2:</label>
                                            <textarea class="form-control" id="description_2"  name="description_2" rows="4" placeholder="Enter another description (optional)">{{ db_portfolio.description_2 | e }}</textarea>
                                        </div><!--end form-group-->

                                        <button type="submit" class="btn btn-soft-primary btn-sm">Submit</button>
                                        <button type="button" class="btn btn-soft-danger btn-sm" onclick="window.location.href='/portfolios_table/'">Cancel</button>
                                    </form> <!--end form-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!-- container -->
    </div><!-- end page content -->
</div><!-- end page-wrapper -->


{% endblock %}
